* {
  margin: 0px auto;
  outline: thin dotted red;
}

.container {
  /* display:flex; */
  width: 970px;
  min-height: 1000px;
  background-color: #1D0C11;
  /* padding:10px; */
  /* margin: 5px; */
}

.header * {
  display: inline-block
  /* margin: 0px; */
}

.header h1 {
  padding: 10px
}

.header h2 {
  padding-left: 400px;
  /* background-color: yellow; */
}

.header {
  /* width: 970px;  */
  /* display: inline-block; */
  width: 970px;
  height: 50px;
  background-color: red;
  margin-bottom: 10px;
  text-align: center;
}


.aboutme {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 930px;
  min-height: 300px;
  /* background-color: blue; */
  margin-bottom: 10px;

}

/* .aboutme {
  vertical-align: top;
  display: inline-block;
} */

.aboutme img {
  width: 450px;
  height: auto;
  margin: 0px;
  /* background-color: green; */
  /* display: inline-block; */
  /* border-color: gray; */
  border-style: solid;
  border-color: gray;


}

.aboutme .mywriteup {
  /* display: inline-block; */
  width: 450px;
  height: 300px;
  margin: 20px;
  /* background-color: green; */
  /* padding-left: 5px; */
  
}


.aboutme .mywriteup h2 {
  /* display: inline; */
  background-color: yellow;
}

.aboutme .mywriteup p {
  /* display: inline; */
  background-color: gray;
}


.display-boxes{
  display: flex;
  /* justify-content: space-around; */
  width: 970px;
  height: 500px;
  min-width: 400px;
  margin: 10px auto 0 auto;
}

.display-boxes *{
  width: 250px;
  height: 500px;
  /* background-color: #fff;  */
  /* display: inline-block; */
  margin: 5px;
}

.box{
  width: 30%;
  height: 500px;
  /* Include with using padding and width to help with math */
  box-sizing: border-box; 
  /* background-color: #fff;  */
  padding: 10px;
  flex: 1;

}

.display-boxes .box h3 {
  color: white;
  background-color: #878593;
  /* height: 100px; */
}

.display-boxes .box img{
  width: 100px;
  height: auto;
}

.footer {
  width: 970px;
  height: 60px;
  background-color: red; 
  margin-top: 10px;
}


